In [3]:
import missingno as msno
import numpy as np
from scipy.stats import shapiro
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
Mteam_df = pd.read_csv('/home/pysparkdevcontainer/code/data/march-machine-learning-mania-2025/MTeams.csv')
Wteam_df = pd.read_csv('/home/pysparkdevcontainer/code/data/march-machine-learning-mania-2025/WTeams.csv')
submission_df = pd.read_csv('/home/pysparkdevcontainer/code/Fundaments/FinalSubmissionMarchMadness.csv')

In [5]:
team_df = pd.concat([Mteam_df, Wteam_df])
team_df

     TeamID        TeamName  FirstD1Season  LastD1Season
0      1101     Abilene Chr         2014.0        2025.0
1      1102       Air Force         1985.0        2025.0
2      1103           Akron         1985.0        2025.0
3      1104         Alabama         1985.0        2025.0
4      1105     Alabama A&M         2000.0        2025.0
..      ...             ...            ...           ...
373    3476       Stonehill            NaN           NaN
374    3477  East Texas A&M            NaN           NaN
375    3478        Le Moyne            NaN           NaN
376    3479      Mercyhurst            NaN           NaN
377    3480    West Georgia            NaN           NaN

[758 rows x 4 columns]

In [12]:
team = team_df[team_df['TeamName'].str.contains('UCLA')]
team

     TeamID TeamName  FirstD1Season  LastD1Season
316    1417     UCLA         1985.0        2025.0
315    3417     UCLA            NaN           NaN

In [7]:
team_df[team_df['TeamName'] == 'St Francis PA']['TeamID'].values[1]

3384

In [8]:
def find_team_id(df, team1, team2, gender='W'):
    TeamName1 = team1
    TeamName2 = team2
    if gender == 'W':
        team1 = df[df['TeamName'] == team1]['TeamID'].values[1]
        team2 = df[df['TeamName'] == team2]['TeamID'].values[1]
    else:
        team1 = df[df['TeamName'] == team1]['TeamID'].values[0]
        team2 = df[df['TeamName'] == team2]['TeamID'].values[0]
        print(team1, team2)
    if team1 > team2:
        pred_df =  submission_df[submission_df['ID'] == f'2025_{team2}_{team1}']
        percentage = pred_df['Pred'].values[0]
        print(f'{TeamName1} has a {(1 - percentage) * 100}% chance of winning against {TeamName2}')
    else:
        pred_df = submission_df[submission_df['ID'] == f'2025_{team1}_{team2}']
        percentage = pred_df['Pred'].values[0]
        print(f'{TeamName1} has a {percentage * 100}% chance of winning against {TeamName2}')

In [14]:
prediction = find_team_id(team_df, 'LSU', 'South Carolina', 'W') 
prediction

LSU has a 44.008204% chance of winning against South Carolina